appdirs==1.4.4
asgiref==3.4.1
astroid==2.8.3
black==21.5b0
click==7.1.2
colorama==0.4.4
Django==3.2.8
flake8==4.0.1
gunicorn==20.1.0
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
psycopg2==2.9.1
pathspec==0.9.0
platformdirs==2.4.0
pur==5.4.2
pycodestyle==2.8.0
pyflakes==2.4.0
pyint==1.1.0
pylint==2.11.1
python-dotenv==0.19.1
pytz==2021.3
regex==2021.10.8
sqlparse==0.4.2
toml==0.10.2
typing-extensions==3.10.0.2
wrapt==1.13.2
